<div class="jumbotron text-center">
   <h3 class="display-4">Thank You!</h3>
   <hr class="my-4">
   <p> We will get back to you soon </p>
   <p class="lead">
      <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', new_contact_path%></button>
   </p>
</div>
