Welcome to Adopt A Book

<p> Hi <%= @contact.fname %> <%= @contact.lname %>, </p>

If you have any questions, please contact Christa Bernardo at +1(513)-556-0055 or <%= ENV['ADMIN_MAIL_ADDRESS'] %>

Thanks for joining and have a great day!
