<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h3>Welcome to Adopt A Book</h3>
    <p> Hi <%= @contact.fname %> <%= @contact.lname %>, </p>
    <p>
      Thank you for getting in touch. We will respond to you very soon,
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
