// Place all the styles related to the adopters controller here. // They will automatically be included in application.css. // You can use Sass (SCSS) here: http://sass-lang.com/ label {
label {
     display: inline-block;
     width: 140px;
     text-align: left;
     margin-left: 2px;
}
 select {
     width: 440px;
     padding: 9px;
     border-radius: 10px;
}
 h2{
     margin-left: 2px;
}
 .form-block .select-form{
     width:37.5%;
     padding: 9px;
     border-radius: 10px;
     text-align: left;
}
 .form-block .form-control {
     display: inline-block;
     width: 440px;
     text-align: left;
     border-radius: 10px;
}
 .form-block .form-control-label{
     width:37.5%;
     padding: 9px;
     border-radius: 10px;
}
 .form-block .actions{
     margin-left: 2px;
}
 h6{
     color: #e00122;
     font-weight: bold;
     text-decoration: underline;
}
 .btn.btn-default{
     width: auto;
}
 
